"*":
  "atom-beautify":
    _analyticsUserId: "96b2c784-69de-4dbc-a708-3ba57962f62c"
    analytics: false
    java_configPath: "/project/dotfiles/dotFiles/atom/java_uncrustify.cfg"
  "autocomplete-java": {}
  "autocomplete-python": {}
  autosave:
    enabled: true
  "autosave-plus":
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "wrap-guide"
      "linter-javac"
      "java-generator"
    ]
    ignoredNames: [
      ".git"
      "*.pyc"
      "chef/serviced"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "java-generator"
    ]
    themes: [
      "atom-solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "7b4cfaaa-52f7-7518-f723-e340697dc03b"
  "formatter-json":
    json: {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "git-wip":
    notify: false
  "google-repo-diff":
    showIconsInEditorGutter: true
  "highlight-column":
    opacity: 0.02
  linter:
    showErrorPanel: false
  "linter-javac": {}
  "linter-pylint":
    rcFile: "/home/bfarrell/.pylintrc"
  "linter-xmllint": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "open-recent": {}
  todo: {}
  "todo-manager": {}
  "todo-show": {}
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
